{% extends 'layout.html.twig' %}



{% block stylesheet %}
<style>
     
   .main-saved-form {
      padding-top: 80px;
     }
</style>
{% endblock %}

{% block content %}


<div class="main-saved-form">

 
{% block title %}
 <h1>{{formName.name}}</h1>
{% endblock %}

<div class="question"> 

     <form method='post' action="" >
         {% for question in savedForm %}
               {% if question.question_type == 'checkbox' %}
                    <fieldset>
                         <legend>{{question.Question}}</legend>
                         {% for choice in question.choice %}
                         <div>
                       
                              <input type="checkbox" id="{{choice.tool_option}}" name="{{choice.tool_option}}" />
                              <label for="{{choice.tool_option}}">{{choice.tool_option}}</label>
                              
                         </div>
                         {% endfor %}

                      
                    </fieldset>
               {% endif %}
               
          {% endfor %}


</form>

{% endblock %}

