{% extends 'layout.html.twig' %}

{% block stylesheet %}

     <link rel="stylesheet" href="/assets/css/draftForm.css">
     <link rel="stylesheet" href="/assets/css/styleformulaire.css">
     <style>
          .main_formulaire {
               background-color: {{formName.background|default('#F0E68C')}}; 
               {# background-color: {{formName.background|default('yellow')}}; #}
               font-style: {{formName.police|default('Arial')}};
               font-size: {{formName.police_size|default('24px')}}px;
               color: {{formName.police_color|default('#A52A2A')}};
               {# color: {{formName.police_color|default('#blue')}}; #}
          }
     </style>
{% endblock %}

{% block content %}
{# {% include 'includes/styleForm.html.twig' %} #}
<pre>
{{ dump(formName) }}
{# {{ dump(savedForm)}}
{{ dump(formName)}} #}
{# {{ dump(savedForm.id)}} #}
</pre>

{% block title %}
 <h1>{{formName.name}}</h1>
{% endblock %}
<main class="main_formulaire">
<div class="main-saved-form">


     <form method='post' action="responseToForm?id={{formName.id}}" >
         {% for question in savedForm %}

               {% if question.question_type == 'checkbox' %}
                <div class="checkbox"> 
                         <fieldset>
                          <legend class="style">{{question.Question}}</legend>
                         {% for choice in question.choice %}
                              <div>
                                   <input type="checkbox" id="{{choice.tool_option}}" name="{{question.id}}_{{choice.tool_option}}" />
                                   <label for="{{choice.tool_option}}">{{choice.tool_option}}</label>
                                   
                              </div>
                         {% endfor %}

                         </fieldset>
                    </div>
                    
                    
               
               {% elseif question.question_type == 'radio' %}
               
               <div class="radio"> 
                    <fieldset> 
                          <legend>{{question.Question}}</legend>
                         {% for choice in question.choice %}

                         <div>
                         <input type="radio" id="{{choice.tool_option}}" name="{{question.id}}_{{question.question_name}}" value="{{choice.tool_option}}" />
                         <label for="{{choice.tool_option}}">{{choice.tool_option}}</label>
                         </div>
                         {% endfor %}
                    </fieldset>
               </div>

               {% elseif question.question_type == 'range' %}
               <div class="range"> 
                    <p >{{question.Question}}</p>
                         <div>
                         <input type="range" id="{{question.choice.tool_option}}" name="{{question.id}}_{{question.question_name}}" min="{{question.choice.0.tool_option}}" max="{{question.choice.1.tool_option}}" step="{{question.choice.2.tool_option}}" />
                         <label for="{{question.choice.tool_option}}">Note</label>
                         </div>
               </div>          

               {% else %} 

                <div class="text"> 
                    <label class="style" for="{{ question.Question }}">{{question.Question}}</label>
                    <input  name="{{question.id}}_{{ question.Question }}" type="text" id="{{ question.Question }}">
               {% endif %}
               </div> 
          {% endfor %}

          <div>
               <button class="cta" type="submit">Envoyer</button>
          </div>
     </form>
</div>       
</main>
{% endblock %}
{% block javascript %}
     <script src="assets/js/script_design_formulaires.js"></script>
{% endblock %}