{% extends 'layout.html.twig' %}
{% block content %}
<main>

<ul>
       <li>     <a href="responses">Summary</a></li>
       <li>     <a href="individual">Individual</a></li>
<li><h1 class="responses_title">Réponses</h1></li>
</div>
 <h2 class="form_title"> Titre du formulaire: {{formTitle.name}} </h2>
<div>
{#
<table>
    <tr>
        <th>Participant</th><th>Question</th><th>Réponse</th>
    </tr>
    {% for collatedResponses.label in collatedResponses %} 
       {% for collatedResponses.value in collatedResponses %}
    <tr>
        <td>{{collatedResponses.label}}</td><td>{{collated.label}}</td><td>{{response.value}}</td>
 {% endfor %} 
{% endfor %} 

    </tr>
    
</table> 

#}
<div class="questionBox">
{% for question, responses in groupedResponses %}
    <p class="question">{{ question }}</p>
    {% for response in responses %}
        <p class="response">{{ response }}</p>
    {% endfor %}
{% endfor %}
</div>








{#
<table>
    <tr>
        <th>Question No.</th><th>Question</th><th>Réponse</th>
    </tr>
    {% for collatedResponse in collatedResponses %} 
    <tr>
        <td>{{collatedResponse.order_tool}}</td><td>{{collatedResponse.label}}</td>
    </tr>
    <tr>
        <td>{{collatedResponse.value}}</td>
 {% endfor %} 
#}





</div>

    
				

 
                       
            

    </main> 

{% endblock %}