{% extends 'layout.html.twig' %}

{% block content %}
{# j'ai mis le script en haut, c'est pas bien, je sais.
Signé : Nico
#}
<script src='assets/js/charts.js'>
let fromPHP;
let idDiv;
let type;
let label;
let dataPoints;
</script>
  <h1>{{ array.title }}</h1>
  <p>Nombre de participants : {{ array.nb_responses }}</p>
  {% for question in array.questions %}
    {% if question.question_type == 'radio' %}
      <script>
        fromPHP = "{{question.dataPoints|json_encode()|escape('js')}}";
        idDiv = 'chartContainer{{question.id}}';
        type = 'pie';
        label = '{{question.label}}';
        dataPoints = JSON.parse(fromPHP);
		chartForm(idDiv, type, label, dataPoints);
        
		label = "raté mouarf";

      </script>
      <div id="chartContainer{{ question.id }}" style="height: 370px; width: 100%;"></div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block javascript %}
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
  <script src='assets/js/charts.js'></script>
{% endblock %}
