    {% extends 'layout.html.twig' %}
    {% block content %}
        {% block nav %}

        <header class="mobile_nav">
        </header> 
        {% endblock %}
{{ dump(errors) }}
        <h1 class="subscribe_title">Créer un compte</h1>
        <div class="subscribe_box">
        <form method="post" action=""=>
        <input type="text" class="subscribe_input" placeholder="Nom d'utilisateur" name="username" id="username">
            {% if errors.username %}
                {{ errors.username }}
            {% endif %}
        <input type="email" class="subscribe_input" placeholder="Email" name="email" id="email">
            {% if errors.email %}
                    {{ errors.email }}
                    {% endif %}
            <input type="password" class="subscribe_input" placeholder="Mot de passe" name="password" id="password">
            {% if errors.password %}
            {{ errors.password }}
                    {% endif %}
            <input type="password" class="subscribe_input" placeholder="Confirmez mot de passe" name="passwordRepeat" id="passwordRepeat">
            {% if errors.password %}
            {{ errors.password }}
                    {% endif %}
                    <button type="submit" class="button">S'inscrire</button>
            </form>
        </div>
            


            <div class="connection_link">
            <a href="login">Vous avez déjà un compte ?</a>
            </div>

        {% include 'item/footer.html.twig' %}
            
        {% endblock %}